/*--------------------------------------------------------------
## Custom CSS
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kaushan+Script&family=Montserrat&family=Petit+Formal+Script&family=Raleway&display=swap');



:root {
  --primary-color: #548434;
  --secondary-color: #111d11;
  --tertiary-color: #818c5d;
  --quaternary-color: #fafaf9;
  --fifth-color: #646c4f;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

nav {
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
}

nav.navbar.bg-light,
.description {
  background-color: var(--quaternary-color) !important;
}

nav h2.navbar-text {
  margin: 0;
  font-size: 1rem;
}

a.widget_text.navbar-brand:hover div.textwidget.custom-html-widget svg#svg g#svgg path#logo {
  fill: #548434;
  transition: all 1s ease-in-out;
}

div.arrow::before {
  border-color: red;
  color: blue;
}

div.arrow {
  border-color: red;
}

div.tooltip-inner {
  background-color:var(--tertiary-color) !important;
  color: var(--secondary-color) !important;
}

ul,
ol {
  margin: 0;
}

a,
.site-header .navbar-light .nav-item > .nav-link {
  color: var(--tertiary-color);
}

a:hover,
a:visited:hover,
.site-header .navbar-light .nav-item.active > .nav-link {
  color: var(--primary-color);
}

a:visited {
  color: var(--fifth-color);
}

form input.form-control,
form textarea.form-control {
  border-radius: 50px;
  padding: 15px;
  border-color: transparent;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

textarea {
  border-radius: 20px !important;
}

.btn {
  min-width: 50px;
  min-height: 30px;
  border-radius: 50px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.btn.btn-primary:not(:disabled):not(.disabled):active,
.btn.btn-primary:not(:disabled):not(.disabled):focus {
  outline: none;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: none;
}

.btn.btn-primary:not(:disabled):not(.disabled):visited {
  color: var(--quaternary-color);
}

.btn-lg {
  padding: 0.5rem 4rem;
}

.btn-primary {
  outline: none;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-secondary,
.btn-primary:hover {
  outline: none;
  background-color: var(--fifth-color);
  border-color: var(--fifth-color);
}

.btn-secondary:hover {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

.page {
  margin-bottom: 480px;
}

.quote {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.quote-text {
  font-family: 'Kaushan Script', cursive;
  font-size: 1rem;
}

.quote-text--hero {
  font-size: 3rem;
}

.quote-author {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

.quote-author--hero {
  font-size: 2rem;
}

.signature {
  /* font-family: 'Petit Formal Script', cursive; */
  /* font-family: 'Kaushan Script', cursive; */
  font-family: 'Caveat', cursive;
  font-size: 2rem;
}

.hero,
.description {
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
}

.site-header .navbar-light .nav-item.active > .nav-link:hover,
.site-header .navbar-light .nav-item > .nav-link:hover {
  color: var(--secondary-color);
}

.nav .nav-link {
  padding: 0.5rem 0;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("../../../uploads/sites/2/2020/04/warren-wong-rpB97PNIuz8-unsplash-1-2048x1365.jpg");
  background-repeat: no-repeat;
  background-position: bottom 33% right 50%;
  background-size: cover;
}

.hero-text {
  height: 80vh;
}

.card {
  border-radius: 1.25rem;
}

.card-img-top {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.row {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.site-footer {
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

footer {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 30vh 0 0;
}

.widget.sfsi {
  margin: 0;
}

#sfsi_holder,
.sfsi_holders {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .page {
    margin-bottom: 70vh;
  }

  .quote-text--hero {
    font-size: 2rem;
  }

  .quote-author--hero {
    font-size: 1rem;
  }

  form input.form-control,
  form textarea.form-control {
    font-size: 12px;
    border-radius: 50px;
    padding: 0.5rem 1rem;
  }

  .copyright p {
    font-size: 0.5rem;
    margin: 0;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .page {
    margin-bottom: 100vh;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 0.7rem;
  }

  .nav-link.main-menu-link {
    font-size: 1.25rem;
  }

  .page {
    margin-bottom: 70vh;
  }

  h1, h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) and (min-height: 576px) {
  .page {
    margin-bottom: 55vh;
  }
}

/*--------------------------------------------------------------
## Navbar toggler snippet
--------------------------------------------------------------*/
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #444;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform 0.35s ease-in-out;
  -moz-transition: transform 0.35s ease-in-out;
  -o-transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

.navbar-toggler {
  border: none;
}

/*--------------------------------------------------------------
## Scroll-down animation snippet
--------------------------------------------------------------*/

a.scroll {
  padding-top: 60px;
}

a.scroll span {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

a.scroll span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb1 2s infinite;
  animation: sdb1 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb1 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb1 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*--------------------------------------------------------------
## Scroll-down arrows animation snippet
--------------------------------------------------------------*/

a.arrows {
  padding-top: 80px;
}
a.arrows span {
  position: absolute;
  bottom: 48px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
a.arrows span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
a.arrows span:nth-of-type(2) {
  bottom: 32px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
a.arrows span:nth-of-type(3) {
  bottom: 16px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
