/*--------------------------------------------------------------
## Custom CSS
--------------------------------------------------------------*/

:root {
    --main-bg-color: coral;
}

.hero {
    width:100%;
    height:100vh;
    background: url('../../../uploads/sites/2/2020/04/warren-wong-rpB97PNIuz8-unsplash-1-2048x1365.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.75);
}

.hero-text {
    height: 80vh;
}

.site-footer {
	display: flex;
	position: fixed;
	bottom: 0;
	z-index: -1;
}

footer {
    background-color: rgb(122, 189, 155);
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20vh;
}

.btn {
    min-width: 50px;
    min-height: 30px;
    border-radius: 50px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

input, textarea {
    border-radius: 50px !important;
    padding: 15px !important;
    border-color: transparent !important;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

textarea {
    border-radius: 20px !important;
}

.btn-primary {
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
}

.page {
    margin-bottom: 350px;
}