/*--------------------------------------------------------------
## Custom CSS
--------------------------------------------------------------*/
:root {
  --primary-color: #548434;
  --secondary-color: #111d11;
  --tertiary-color: #818c5d;
  --quaternary-color: #fafaf9;
  --fifth-color: #646c4f;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

::selection {
  color: var(--quaternary-color);
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}

p {
  line-height: 1.8;
}

nav,
.container > article > div.sheet,
.sheet {
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
}

.container > article > div.sheet,
.sheet {
  padding: 4rem;
}

.contact {
  padding: 0 4rem 0 0;
}

nav.navbar.bg-light,
.description {
  background-color: var(--quaternary-color) !important;
}

nav h2.navbar-text {
  margin: 0;
  font-size: 1rem;
}

a.widget_text.navbar-brand:hover
  div.textwidget.custom-html-widget
  svg#svg
  g#svgg
  path#logo {
  fill: #548434;
  transition: all 1s ease-in-out;
}

div.arrow::before {
  border-color: red;
  color: blue;
}

div.arrow {
  border-color: red;
}

div.tooltip-inner {
  background-color: var(--tertiary-color) !important;
  color: var(--secondary-color) !important;
}

ul,
ol {
  margin: 0;
}

a,
.site-header .navbar-light .nav-item > .nav-link {
  color: var(--tertiary-color);
}

a:hover,
a:visited:hover,
.site-header .navbar-light .nav-item.active > .nav-link {
  color: var(--primary-color);
}

a:visited {
  color: var(--fifth-color);
}

form input.form-control,
form textarea.form-control {
  border-radius: 50px;
  padding: 15px;
  border-color: transparent;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

textarea {
  border-radius: 20px !important;
}

.btn {
  min-width: 50px;
  min-height: 30px;
  border-radius: 50px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.btn.btn-primary:not(:disabled):not(.disabled):active,
.btn.btn-primary:not(:disabled):not(.disabled):focus {
  outline: none;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: none;
}

.btn.btn-primary:not(:disabled):not(.disabled):visited {
  color: var(--quaternary-color);
}

.btn-lg {
  padding: 0.5rem 4rem;
}

#cookie-notice.btn,
.btn.btn-primary {
  outline: none;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-secondary,
.btn-primary:hover {
  outline: none;
  background-color: var(--fifth-color);
  border-color: var(--fifth-color);
}

.btn-secondary:hover {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

.page {
  margin-bottom: 0;
}

.quote {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.quote-text {
  font-family: "Kaushan Script", cursive;
  font-size: 1rem;
}

.quote-text--hero {
  font-size: 3rem;
}

.quote-author {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.quote-author--hero {
  font-size: 2rem;
}

.signature {
  font-family: "Caveat", cursive;
  font-size: 2rem;
}

.hero,
.description {
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
}

.widget_text.col-xl-10 {
  box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 4rem 2rem;
}

.site-header .navbar-light .nav-item.active > .nav-link:hover,
.site-header .navbar-light .nav-item > .nav-link:hover {
  color: var(--secondary-color);
}

.nav .nav-link {
  padding: 0.5rem 0;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("../../../uploads/sites/2/2020/04/warren-wong-rpB97PNIuz8-unsplash-1-2048x1365.jpg");
  background-repeat: no-repeat;
  background-position: bottom 33% right 50%;
  background-size: cover;
}

.hero-text {
  height: 85vh;
}

.hero-text .widget_text {
  opacity: 0;
  position: relative;
  top: 100%;
  transition: top 1s ease-out, opacity 0.5s ease-out;
}

.hero-text .widget_text.slide-up {
  top: 0;
  opacity: 1;
}

.contact .card.text-center,
aside.sheet {
  padding: 2rem;
  opacity: 0;
  position: relative;
  left: 100%;
  transition: left 0.5s ease-out, opacity 0.5s ease-out;
}

.card.text-center.roll-in,
aside.sheet.roll-in {
  left: 0;
  opacity: 1;
}

.hero-text .btn,
.arrows,
.scroll {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.hero-text .btn.fade-in,
.arrows.fade-in,
.scroll.fade-in {
  opacity: 1;
}

.hideme,
.showme {
  opacity: 0;
}

main {
  position: relative;
  z-index: 1;
}

.site-main > section:only-child,
.site-main > div:only-child {
  min-height: 82vh;
}

.card {
  border-radius: 1.25rem;
}

.card-img-top {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.list-group {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 4rem;
}

.list-group-item:first-child,
.list-group-item:last-child,
.list-group-item + .list-group-item,
.list-group-item {
  border-radius: 50px;
  margin: 1rem;
  border-width: 1px;
}

.row {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.site-footer {
  display: flex;
  position: sticky;
  z-index: 0;
}

.wpcf7 label {
  width: 100%;
}

.your-name input,
.your-email input,
.your-subject input {
  border-radius: 50px;
  padding: 15px;
  border-color: transparent;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  color: #666;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.your-message textarea {
  padding: 15px;
  border-color: transparent;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s;
}

.wpcf7-form-control.wpcf7-submit {
  min-width: 50px;
  min-height: 30px;
  border-radius: 50px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  outline: none;
  background-color: var(--fifth-color);
  border-color: var(--fifth-color);
  margin-bottom: 0.5rem !important;
  color: #fff;

  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contact .wpcf7-form-control.wpcf7-submit {
  padding: 0.5rem 4rem;
}

.wpcf7-form-control.wpcf7-submit:hover {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

footer {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 3rem 0 0;
}

.widget.sfsi {
  margin: 0;
}

#sfsi_holder,
.sfsi_holders {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .widget_text.col-xl-10 {
    box-shadow: none;
    padding: 1rem;
  }

  .site-main > section:only-child,
  .site-main > div:only-child {
    min-height: 67vh;
  }

  .btn-lg {
    padding: 0.5rem 1rem;
  }

  .quote-text--hero {
    font-size: 2rem;
  }

  .quote-author--hero {
    font-size: 1rem;
  }

  form input.form-control,
  form textarea.form-control {
    font-size: 12px;
    border-radius: 50px;
    padding: 0.5rem 1rem;
  }

  .container > article > div.sheet,
  .sheet {
    padding: 2rem;
  }

  .contact {
    padding: 0;
  }

  .copyright p {
    font-size: 0.5rem;
    margin: 0;
  }

  .wpcf7 p {
    margin: 0 0.5rem;
    width: 43%;
  }

  .your-message textarea {
    height: 10vh;
  }

  .wpcf7 form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .your-message textarea {
    height: 10vh;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 0.7rem;
  }

  .nav-link.main-menu-link {
    font-size: 1.25rem;
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) and (min-height: 576px) {
}

/*--------------------------------------------------------------
## Navbar toggler snippet
--------------------------------------------------------------*/
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #444;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform 0.35s ease-in-out;
  -moz-transition: transform 0.35s ease-in-out;
  -o-transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

.navbar-toggler {
  border: none;
}

/*--------------------------------------------------------------
## Scroll-down animation snippet
--------------------------------------------------------------*/

a.scroll {
  padding-top: 60px;
}

a.scroll span {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

a.scroll span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb1 2s infinite;
  animation: sdb1 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb1 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb1 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*--------------------------------------------------------------
## Scroll-down arrows animation snippet
--------------------------------------------------------------*/

a.arrows {
  padding-top: 80px;
}
a.arrows span {
  position: absolute;
  bottom: 48px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
a.arrows span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
a.arrows span:nth-of-type(2) {
  bottom: 32px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
a.arrows span:nth-of-type(3) {
  bottom: 16px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}
